.contain{
  width: 100%;
  overflow: hidden;
}

.appName{
  font-family: Nunito-Bold;
  position: absolute;
  color: #ffffff;
  padding: 4px 12px 6px;
  background: rgba(0, 0, 0, 0.59);
  border-radius: 18px 5px;
  border: #ffffff 3px solid;
  transform:skewX(-12deg);
  font-size: 1.5em;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text{
  color: #6a6a6a;
  margin: 7%;
  font-size: 1.4em;
  text-align: center;
}

.login{
  font-size: 0.9em;
  color: #ffffff;
  background-color: #3b5998;
  padding: 12px 20px;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin-bottom: 5%;

  &:hover{
    background-color: #8b9dc3;
    cursor: pointer;
  }
  &:active{
    background-color: #6a6a6a;
  }
}

@media screen and (min-width: 640px) {
  .box{
    position: absolute;
  }
}