.photo{
  width: 100px;
  height: auto;
}

.boxFlex, .count, .boxYear, .boxPhotos, .boxCount, .boxMain {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.boxMain, .boxYear, .boxPhotos{
  flex-direction: column;
}

.photoText{
  font-family: Nunito-Regular;
  margin: 10px 0;
  font-size: 1.5em;
  color: #6a6a6a;
}

.buttonPhoto{
  padding: 10px 25px;
  background-color: #ffffff;
  border-radius: 25px 10px;
  border: #6a6a6a 3px solid;

  &:hover{
    background-color: #bababa;
  }
}

.boxCount, .boxYear{
  margin-bottom: 5%;
}

.count{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: #6a6a6a 3px solid;
  color: #6a6a6a;
}

.countText{
  color: #6a6a6a;
  text-transform: uppercase;
  font-size: 2em;
  margin: 0 5%;
}

.photosito{
  width: 80%;
  max-width: 355px;
  border-radius: 30px 10px;
  margin-bottom: 5%;
}

.yearButton{
  font-family: Nunito-Regular;
  padding: 12px 10px;
  background-color: #7d0073;
  color: #ffffff;
  border-radius: 10px;
  width: 80%;
  border: none;
  margin-bottom: 5px;
  transition: all 0.5s;
  &:hover{
    background-color: #6f29a0;
    cursor: pointer;
  }
  &:active{
    background-color: #617eab;
  }
}
.yearButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.yearButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.yearButton:hover span {
  padding-right: 20px;
}

.yearButton:hover span:after {
  opacity: 1;
  right: 0;
}

.spinner {
  margin: 10% auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
  } 40% {
      transform: scale(1.0);
    }
}

@media screen and (min-width: 640px){
  .count{
    width: 60px;
    height: 60px;
    font-size: 1.5em;
  }
  .countText{
    font-size: 3em;
    letter-spacing: 10px;
    margin: 0 2%;
  }
  .boxPhotos{
    display: block;
    text-align: center;
    margin: 0 auto;
    column-count: 2;
    width: 80%;
  }
  .photosito{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px){
  .count{
    width: 75px;
    height: 75px;
    font-size: 1.8em;
  }
  .countText{
    font-size: 4em;
    letter-spacing: 15px;
  }
  .boxCount, .boxYear {
    margin-bottom: 2%;
  }
  .boxYear{
    width: 80%;
    margin: 10px auto;
    flex-flow: row wrap;
  }
  .yearButton{
    width: 200px;
    margin: 5px 10px;
  }

  .boxPhotos{
    column-count: 3;
  }
}
